#root {
  
  --background-color: #FFF7ED;
  --darker-section-color: #FFCC8D;
  --lighter-section-color: #FFF;
  --tabs-and-bars-color: #FFEAD0;
  
  --orange-button-color: #FF8C38;
  --green-button-color: #115E59;
  --black-button-color: #161616;
  
  --text-color: #161616;
  
  --header-text-color: #000000;
  --header-background-color: #FFF7ED;

  --footer-text-color: #AAAAAA;
  --footer-background-color: #252525;
}

